// Mixins
@mixin display-font-stack {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.5em;
}

@mixin font-stack {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

@mixin column-styles {
    background-color: $off-white;
    padding: 1em;
    text-align: center;
}