// FONT VARIABLES
$font-size: 18px;
$line-height: 1.8em;

// BREAK POINTS
$break-small: 600px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

// COLOURS
$font-colour: #545454;
$black: #2a2a2a;
$white: #ffffff;
$yellow: #FCBB04;
$turquoise: #30DCC9;
$rgb-turquoise: rgb(48,220,201);
$off-black: #545454;
$off-white: #f2f2f2;

// BORDERS
$border-top: 1px solid $off-white;